name: pip test
on:
  push:

jobs:
  pip:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.14'
        cache: 'pip'
    - run: pip install .