name: pixi run
on:
  push:

jobs:
  pixi:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: prefix-dev/setup-pixi@v0.9.4
      with:
        pixi-version: v0.59.0
        cache: true
    - run: pixi run test
    - run: pixi run test_toml
    - run: pixi run test_toml_env
