name: pixi run
on:
  push:

jobs:
  pixi:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: prefix-dev/setup-pixi@v0.9.3
      with:
        pixi-version: v0.59.0
        cache: true
        auth-host: prefix.dev
        auth-token: ${{ secrets.PREFIX_DEV_TOKEN }}
    - run: pixi run test